{% extends 'default.html' %}

{% block title %} Acceuil {% endblock %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Réservations</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="style.css">
</head>
<body>
    <div class="container mt-5">
        <h1></br></br></h1>
        <h1 class="mb-4" style="margin-left: auto; margin-right: auto; width: 80%;"></br></br>Liste des Places Réservées</h1>
       
        <table class="table table-hover" style="margin-left: auto; margin-right: auto; width: 80%;">
            <thead>
                <tr>
                    <th scope="col">Place</th>
                </tr>
            </thead>
            <tbody>
                {% for reservation in reservations %}
                <tr>
                    <td>Place numéro : {{ reservation[2] }} - Status: {{ reservation[3] }} - Évennement: {{ reservation[4] }}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('events') }}" class="btn btn-primary">Voir les évennements</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
  
{% endblock %}