{% extends 'default2.html' %}

{% block content %}

<div class="container">
    <h2>Gestion des Événements</h2>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Date</th>
                <th>Emplacement</th>
                <th>Prix</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td>{{ event[0]}}</td>
                <td>{{ event[1]}}</td>
                <td>{{ event[2]}}</td>
                <td>{{ event[3]}}</td>
                <td>{{ event[4]}}</td>
                <td>{{ event[5]}}</td>
                <td>{{ event[6]}}</td>
                <td>
                    <form method="post" action="{{ url_for('admin_events') }}" style="display: inline;">
                        <input type="hidden" name="event_id" value="{{ event[0] }}">
                        <input type="hidden" name="action" value="edit">
                        <input type="text" name="nom" value="{{ event[1] }}">
                        <input type="date" name="date" value="{{ event[2] }}">
                        <input type="text" name="emplacement" value="{{ event[3] }}">
                        <input type="number" name="prix" value="{{ event[4]}}">
                        <input type="text" name="images" value="{{ event[5]}}">
                        <input type="text" name="description" value="{{ event[6]}}">
                        <button type="submit">Modifier</button>
                    </form>
                    <form method="post" action="{{ url_for('admin_events') }}" style="display: inline;">
                        <input type="hidden" name="event_id" value="{{ event[0] }}">
                        <input type="hidden" name="action" value="delete">
                        <button type="submit">Supprimer</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Ajouter un événement</h3>
    <form method="post" action="{{ url_for('admin_events') }}" style="margin-bottom: auto; margin-right: auto; width: 80%;">
        <input type="hidden" name="action" value="add">
        <input type="text" name="nom" placeholder="Nom de l'événement" required>
        <input type="date" name="date" placeholder="Date de l'événement" required>
        <input type="text" name="emplacement" placeholder="Emplacement" required>
        <input type="number" name="prix" placeholder="Prix" required>
        <input type="text" name="images" placeholder="Images" required>
        <input type="text" name="description" placeholder="Description" required>
        <button type="submit">Ajouter</button>
    </form>
</div>

{% endblock %}