{% extends 'default.html' %}

{% block title %} Acceuil {% endblock %}

{% block content %}


<body class="background" style="margin-top: 55px;">

    <main style="margin-left: auto; margin-right: auto; width: 80%;">
        <section class="about-section" style="text-align:center;">
            <h2></br></br>À Propos de Nous</h2>
            <p>Bienvenue sur <strong>TicketMain</strong>, votre partenaire de confiance pour une expérience exceptionnelle. Fondé en <strong>2024</strong>, notre objectif est de vous fournir des services de qualité supérieure, en mettant l'accent sur la fiabilité, le service client et l'innovation.</p>
        </section>

        <section class="mission-section">
            <h1>Notre Mission</h1>
            <p>Notre mission est de révolutionner la <strong>réservation de billets</strong> en offrant des solutions qui non seulement répondent aux attentes de nos clients mais les dépassent. Chez <strong>TicketMain</strong>, nous nous engageons à offrir une expérience utilisateur sans précédent, facilitant les processus qui étaient autrefois complexes et chronophages.</p>
        </section>

        <section class="why-choose-us">
            <h1>Pourquoi Choisir <strong>TicketMain</strong> ?</h1>
            <ul>
                <li><strong>Expertise :</strong> Nos équipes sont composées de professionnels expérimentés qui comprennent les nuances de notre industrie.</li>
                <li><strong>Innovation :</strong> Nous adoptons les dernières technologies pour garantir que nos services sont de la meilleure qualité possible.</li>
                <li><strong>Sécurité :</strong> La sécurité de vos données est notre priorité absolue. Nous utilisons des protocoles avancés pour garantir que vos informations restent sécurisées.</li>
                <li><strong>Support Client :</strong> Notre support client est là pour vous aider à résoudre vos problèmes et répondre à vos questions.</li>
            </ul>
        </section>

        <section class="our-services">
            <h1>Nos Services</h1>
            <p>Nous offrons une large gamme de services adaptés à vos besoins, incluant :</p>
            <ul>
                <li>Répertoire d'évennements exhaustif.</li>
                <li>Système de paiement sécurisé et facile à utiliser.</li>
                <li>Plateforme intuitive pour gérer vos événements et réservations.</li>
            </ul>
        </section>

        <section class="future-commitment">
            <h1>Engagements pour l'Avenir</h1>
            <p>Ce qui distingue vraiment Ticketmain, c'est son engagement indéfectible envers des prix abordables. Conscients des défis financiers auxquels de nombreuses personnes sont confrontées, surtout lorsqu'il s'agit de participer à des événements en direct, Ticketmain s'est engagé à garantir que le plaisir des événements ne soit pas réservé à une élite. Grâce à des partenariats stratégiques et à des politiques de tarification équitables, Ticketmain s'efforce toujours d'offrir les meilleurs prix possibles à ses clients, sans compromis sur la qualité.</p>
        </section>

        <section class="contact-us" style="text-align:center;">
            <p></br></br>Nous vous remercions de choisir <strong>TicketMain</strong>.</br>Pour toute question, n'hésitez pas à nous contacter via notre page de contact ou par téléphone au <strong>TMsupport@ticketmain.com</strong>.</p>
        </section>
    </main>
    
    
</body>
</html>

{% endblock %}