{% extends 'default.html' %}

{% block title %} Événements {% endblock %}

{% block content %}
  
<section class="background" style="margin-top: 55px;">
    <h1 text-align: center;></br></br>Liste des événements</h1>

    <div class="evenements">
        {% for event in events %}
        <div class="evenement">
            <a href="/reservation">
                {% if get_file_extension(event[5]) == 'mp4' %}
                    <video width="100%" autoplay loop muted>
                        <source src="{{ event[5] }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                {% else %}
                    <span class="image fit">
                        <img src="{{ event[5] }}" alt="{{ event[1] }}" />
                    </span>
                {% endif %}
            </a>
            <h5>{{ event[1] }}</h5>
            <p>{{ event[6] }}</p>
        </div>
        {% endfor %}
    </div>
</section>

<!--<a href="{{ url_for('creer_reservation') }}" class="btn btn-primary">Réserver une place pour l'événement souhaité.</a>-->

{% endblock %}
