{% extends 'default2.html' %}

{% block content %}

<div class="container">
    <h2 class="text-center mb-4">Gestion des Événements</h2>
    <h1 class="text-center mb-4">Liste des événements</h1>

<table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nom</th>
        <th scope="col">Date</th>
        <th scope="col">Emplacement</th>
        <th scope="col">Prix</th>
      </tr>
    </thead>
    <tbody>
        {% for event in events %}
        <tr>
            <td>{{ event[0] }}</td>
            <td>{{ event[1] }}</td>
            <td>{{ event[2] }}</td>
            <td>{{ event[3] }}</td>
            <td>{{ event[4] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div style="display: flex; justify-content: space-around; margin-top: 20px;">
    <form method="post" action="{{ url_for('admin_events') }}" style="display: flex; flex-direction: column; align-items: center;">
        <input type="hidden" name="action" value="add">
        <input type="text" name="nom" placeholder="Nom de l'événement" required>
        <input type="text" name="date" placeholder="Date de l'événement" required>
        <input type="text" name="emplacement" placeholder="Emplacement" required>
        <input type="number" name="prix" placeholder="Prix" required>
        <button type="submit" class="btn btn-success">Ajouter Événement</button>
    </form>
   
    

    <form method="post" action="{{ url_for('admin_events') }}" style="display: flex; flex-direction: column; align-items: center;">
        <input type="hidden" name="action" value="edit">
        <select name="event_id">
            {% for event in events %}
            <option value="{{ event[0] }}">{{ event[0] }}</option>
            {% endfor %}
        </select>
        <input type="text" name="nom" placeholder="Nom de l'événement" required>
        <input type="text" name="date" placeholder="Date de l'événement" required>
        <input type="text" name="emplacement" placeholder="Emplacement" required>
        <input type="number" name="prix" placeholder="Prix" required>
        <button type="submit" class="btn btn-primary">Modifier Événement</button>
    </form>
    
    
    <form method="post" action="{{ url_for('admin_events') }}" style="display: flex; flex-direction: column; align-items: center;">
        <input type="hidden" name="action" value="cancel">
        <select name="event_id">
            {% for event in events %}
            <option value="{{ event[0] }}">{{ event[0] }}</option>
            {% endfor %}
        </select>
        
        <button type="submit" class="btn btn-danger">Annuler Événement</button>
    </form>
</div>

</div>
{% endblock %}