{% extends 'default.html' %}
{% block title %} Ajouter un nouvel utilisateur {% endblock %}

{% block content %}
<div class="container mt-5" style="margin-top: 55px; margin-left: auto; margin-right: auto; width: 80%;">
    <h1 class="mb-4"  style="text-align:center;"></br></br>Veuillez remplir ce formulaire pour enregistrer un nouvel utilisateur</h1>

    

    <form action="{{url_for('register')}}" method="POST" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="nom_complet" class="form-label">Nom complet</label>
            <input name="nom_complet" type="text" class="form-control" id="nom_complet" required>
        </div>
        
        <div class="mb-3">
            <label for="username" class="form-label">Nom d'utilisateur</label>
            <input name="username" type="text" class="form-control" id="username" required>
        </div>
        
        <div class="mb-3">
            <label for="password" class="form-label">Mot de passe</label>
            <input name="password" type="password" class="form-control" id="password" required>
        </div>
        
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input name="email" type="email" class="form-control" id="email" required>
        </div>
        
        <div class="mb-3">
            <label for="status" class="form-label">Status</label>
            <input name="status" type="text" class="form-control" id="status" value="client" readonly required>
        </div>
        
        <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
</div>
{% endblock %}